@charset "utf-8";

body {
    font-size: 13px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: -13px;
    background-color: black;
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

footer,
section {
    margin: 0 20px;
}

/* 變更默認字型色彩 */
/* * {
    color: #DDDDDD;
} */