@charset "utf-8";
:root{
	--headerheight: 50px;
}
/*header*/
#site-header{
	width: 100%;
	height: var(--headerheight);
	border-top: 1px solid #5c90a6;
	position: fixed;	
	background-color: black;
	margin-top: -50px;
}
#nav{
	height: 100%;
	float: right;	
}
#nav li{
	float: left;
	height: 100%;
	list-style-type:none;
	padding-right: 20px;
	line-height: var(--headerheight);
}
#nav a{
	text-underline-position: none;
	text-decoration: none;
	font-size: 16px;
	color: #DDDDDD
}
#nav a:hover{
	color: #5c90a6;
}
#logo{
	margin-left: 20px;
	float: left;
	line-height: var(--headerheight);
	height: 100%;
}
#logo img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
#logo p{
	color: #5c90a6;
	float: left;
	font-size: 24px;
	margin: 0;
}
/*iframe*/
#site-show{
	margin-top: 50px;
}
/*nav*/
#site-nav{
	border-top: 1px solid #808080;
	margin: 0;
}
#footerlayoutroot{
	margin: 0 62px;

}
#sociallinks{
	border-bottom: 1px solid #808080;
	padding: 20px 0;
	
}
#sociallinks ul{
	margin-left: -45px;
}
#sociallinks li{
	display: inline;
	padding: 5px;
}
#sociallinks a{
	background-color: #5c90a6;
	padding: 10px;
	border-radius: 100%;
}
/*footer*/
#site-footer{
	padding: 10px 0;
}
#copyright{
	float: left;
	margin: 0;
	margin-left: 42px;
	font-size: 20px;

}
#site-footer a{
	float: right;
	margin: 0;
	margin-right: 42px;
	font-size: 20px;
	color: #808080;
}
#site-footer a i{
	color: #808080;
	font-size: 18px;

}
#site-footer a:hover{
	
	text-decoration: underline;
}