<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>ProJend's UWP</title>
	<link rel="icon" href="../assets/IMG_1463.png" type="image/x-icon">
	<link href="../css/basic.css" rel="stylesheet" type="text/css">
	<link href="../css/template.css" rel="stylesheet" type="text/css">
	<link href="../css/about.css" rel="stylesheet" type="text/css">
	<link href="http://at.alicdn.com/t/font_2658048_nmpnm8b687.css" rel="stylesheet" type="text/css">
	<link href="../js/iframeHeightAutomatically.js" type="text/javascript">
</head>

<body>
	<header id="site-header">
		<nav id="tab">
			<li><a href="main.html" target="_self">主页</a></li>
			<li><a href="https://github.com/ProJend/Cherryknot.UWP" target="_blank">真爱</a></li>
			<li><a href="https://github.com/ProJend/Avicii.UWP" target="_blank">樱花结</a></li>
			<li><a href="about.html" target="_self" id="selectedtab">关于</a></li>
		</nav>
		<a href="https://github.com/ProJend/MyUWPIntroduction" id="logo" target="_blank">
			<img src="../assets/IMG_1463.png" />
			<p>ProJend</p>
		</a>
	</header>
	<!--<iframe src="home.html" name="site-show" scrolling="no"></iframe>-->
	<section id="site-show">
		<img class="profile" src="../assets/IMG_1463.png" />
		<p>😎</p>
		<p>He/him.</p>
		<p>C# Developer.</p>
		<p>Privacy Telegram スキ!!</p>
		<p></p>
		<p></p>
	</section>
	<section id="site-footer-social">
		<div id="footerlayoutroot">
			<nav id="sociallinks">
				<ul>
					<li><a class="profile" href="https://github.com/projend"><i class="iconfont icon-github"></i></a></li>
					<li><a class="profile" href="https://t.me/projendchannel"><i class="iconfont icon-telegram"></i></a></li>
					<li><a class="profile" href="mailto:projend@outlook.com"><i class="iconfont icon-mail"></i></a></li>
				</ul>
			</nav>
		</div>
	</section>
	<footer id="site-footer">
		<p id="copyright">2022 © ProJend</p>
		<a href="#site-show">To the top <i class="iconfont icon-up"></i></a>
	</footer>
</body>

</html>